[submodule "tic"]
	path = tic
	url = https://github.com/pololu/pololu-tic-software
[submodule "libusbp"]
	path = libusbp
	url = https://github.com/pololu/libusbp
	branch = v1-latest
[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
