[submodule "tic"]
	path = ./modules/tic
	url = https://github.com/pololu/pololu-tic-software
[submodule "libusbp"]
	path = ./modules/libusbp
	url = https://github.com/pololu/libusbp
	branch = v1-latest
[submodule "matplotlib-cpp"]
	path = ./modules/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp
