<launch>
    <include file="$(find odom_estimate)/launch/divine_plan.launch" />

    <node pkg="antenna_control" type="antenna_pose_node" name="antenna_pose_node" output="screen">
        <remap from="/antenna/pose" to="/antenna_pose" />
        <remap from="/qualisys/AAT/odom" />
    </node>

    <group ns="theta">
        <rosparam command="load" file="$(find messages)/config/motor_theta.yaml" />
        <node pkg="antenna_control" type="motor_pose" name="motor_theta_pose" output="screen">

            <!-- publishes -->
            <remap from="/motor/pose" to="/motor/theta/pose" />
        </node>

        <node pkg="antenna_control" type ="motor_control" name="motor_theta_control" output="screen">
            <rosparam command="load" file="$(find messages)/config/predictor.yaml" />

            <!-- subscribes from uav_pose_predictor or test -->
            <remap from="/target/predicted/pose/angle" to="/predicted/spherical_pose/theta" />
            <!-- subscribes from motor_theta_pose -->
            <remap from="/motor/pose" to="/motor/theta/pose" />
            <!-- publishes -->
            <remap from="/motor/pose/angle" to="/motor/pose/theta" />
        </node>
    </group>

    <group ns="phi">
        <rosparam command="load" file="$(find messages)/config/motor_phi.yaml" />
        <node pkg="antenna_control" type="motor_pose" name="motor_phi_pose" output="screen">

            <!-- publishes -->
            <remap from="/motor/pose" to="/motor/phi/pose" />
        </node>

        <node pkg="antenna_control" type ="motor_control" name="motor_phi_control" output="screen">
            <rosparam command="load" file="$(find messages)/config/predictor.yaml" />

            <!-- subscribes from uav_pose_predictor or test -->
            <remap from="/target/predicted/pose/angle" to="/predicted/spherical_pose/phi" />
            <!-- subscribes from motor_phi_pose -->
            <remap from="/motor/pose" to="/motor/phi/pose" />
            <!-- publishes -->
            <remap from="/motor/pose/angle" to="/motor/pose/phi" />
        </node>
    </group>
</launch>