<launch> 
<node pkg = "odom_simulate" type = "sim_drone_node" name = "sim_drone_node" output = "screen" />

<node pkg = "odom_estimate" type = "predictor_node" name = "predictor_node" output = "screen" />

<node pkg = "antenna_control" type = "tic_collect_data" name = "tic_collect_data" output = "screen" />

<node pkg = "antenna_control" type = "tic_current_pose" name = "tic_current_pose" output = "screen" />
</launch>